*{
    margin-left: 0;
    margin-right: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* navbar starts */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
    position: sticky;
    top:0;
    background-color: white;
   
}

.links{
    margin-left: 80px;
    font-size: 18px;
    
}

.link{
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

.navbar-head{
    font-size: 18px;
    margin-right: 100px;
    margin-left: 50px;
}

.navicon{
    margin-right: 150px;

}

.nicon{
    margin-left: 30px;
}

/* navbar ends */

/* oversize tshirt starts */


.oversize{
    height: 620px;
    width: 100%;

}


.tshirt-over{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* oversize tshirt ends */

/* item collection starts */
.c-heading{
    margin-top: 60px;
    margin-left: 650px;
    font-size: 38px;
    
}
.item1{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}


/* .item2{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
} */

.item-box{
    width: 300px;
}

.item{
    width: 100%;
}

.item-desc{
    margin-left: 100px;
}
/* item collection ends */

/* Popular starts */
.p-head{
    margin: 100px 600px 0;
    
}

.p-heading{
    border-bottom: 1px solid lightgray;
    margin-top: 0;
}


.popular-items{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.pop-item{
    width: 300px;
    margin-top: 50px;
    object-fit: cover;
    background-size: cover;
 
}

.pop-item:hover{
    border: 1px solid black;
}

.pop-img{
    width: 250px;
}



.info{
    
    margin-left: 10px;
    line-height: 0.2cm;
}


/* popular ends */


/* shop by anime starts */
.anime-head{
    margin-left: 600px;
    margin-top: 200px;
}

.logos{
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 200px;
    height: 200px;
  
}

.logo:hover{
    animation-name: animeshop;
    animation-duration: 0.5sec;
    animation-fill-mode: forwards;

}
@keyframes animeshop {
    100%{
        width: 220px;
        height: 220px;

    }
    
}



.anime-logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.logo-p {
    margin-left:50px;
}
/* shop by anime ends */

/* footer image starts */
.footer-img{
    width: 100%;
    height: 500px;
    margin-top: 150px;
}

.obito{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* footer image ends */

/* shop description starts */
.shop-desc{
    background-color: black;
    height: 300px;
    padding-bottom: 100px;
}

.foot-desc {
   padding-top: 100px;
   margin-left: 100px;
   display: flex;
   align-items: center;
   color: white;
   justify-content: space-around;
}

.about{
    width: 300px;
    color: white;
    line-height: 0.8cm;
}

.best-seller{
   
    margin-left: -50px;
    color: white;
}

.b-sell{
    line-height: 0.7cm;
}
/* shop description ends */

/* media queries for navbar starts */

@media (max-width:576px)
{
    .navbar{
        display: flex;
        position: sticky;
        top:0;
        background-color: white;
       
    }

    .link{
        display: none;
    }
    

    .navbar-head{
        font-size: 10px;
        margin-left: -80px;
       
    }

    .navicon{
        display: flex;
        align-items: center;
        margin-right: 50px;
        
    }

    .nicon{
        margin-left: 5px;
    }
    
}


/* media queries for tshirts */
@media (max-width:576px){
    .oversize{
        height: 250px;
        width: 100%;
    
    }
    
    
    .tshirt-over{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

/* mq for item collection starts */
@media (max-width:576px){
    .c-heading{
        margin-top: 60px;
        margin-left: 180px;
        font-size: 20px;
        
    }

    .item1{
        margin-top: 50px;
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .item{
        width: 100%;
        border-top: 1px solid lightgray;
        padding-top: 30px;
    }
    
}

/* popular starts */
@media (max-width:576px){

.p-head{
    margin: 100px 160px 0;
    font-size: 25px;
}


.p-heading{
    border-bottom: 1px solid lightgray;
    margin-top: 0;
}

.popular-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    
}

.pop-item{
    margin-left: 80px;
    margin-top: 50px;
    object-fit: cover;
    background-size: cover;
 
}
}

/* shopby anime mq */

@media (max-width:576px){
    .anime-head{
        margin-left: 140px;
        margin-top: 200px;
    }
    .logos{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around;
        align-items: center; */
    }

    .logo{
        width: 200px;
        height: 200px;
      
    }


.anime-logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    object-fit: cover;
}




.logo-p {
    display: none;
}

.logos2{
    margin-top: 0;
}
}

@media (max-width:576px){
    .footer-img{
        width: 100%;
        height: 300px;
        margin-top: 150px;
    }
    
    .obito{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
}

@media (max-width:576px){
    .shop-desc{
        background-color: black;
        height: 300px;
        padding-bottom: 100px;
    }
    
    .foot-desc {
       padding-top: 100px;
       margin-left: 10px;
       font-size: 10px;
       display: flex;
       flex-wrap: wrap;
       align-items: baseline;
       color: white;
       justify-content: space-between;
    }
    
    .about{
        width: 300px;
        margin-left: 0;
        color: white;
        line-height: 0.8cm;
    }
    
    .best-seller{
       
        margin-left: -50px;
        color: white;
    }
    
    .b-sell{
        line-height: 0.7cm;
    }
}